.hidden{
    display:none;
}
#my-form{
    position: absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
}
.bgimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#clock{
    color : white;
    font-size : 70px;
    font-family: 'Questrial', sans-serif;;
    text-align: center;
}
#login-form{
    width : 500px;
    position : relative;
    text-align: center;
}
.login{
    border:none;
    background:transparent;
    outline: none;
    width : 320px;
    height : 30px;
    font-size: 30px;
    color : white;
}
.login::placeholder{
    color : #e0e0e0;
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
    padding-left: 0%;
}
.logbutton{
    border : solid 2px #bdbdbd;
    border-radius: 3em;
    background : transparent;
    color : #bdbdbd;
    width : 80px;
    height : 35px;
    font-family: 'Questrial', sans-serif;
}

.logbutton:hover{
    border: solid 2px white;
    border-radius: 3em;
    background : transparent;
    color : white;
    width : 80px;
    height : 35px;
    font-family: 'Questrial', sans-serif;
}
#greeting{
    font-size:50px;
    color : white;
    font-family: 'Questrial', sans-serif;
    
}
#todo-form {
    position : relative;
    text-align: center;
}
.todo{
    border:none;
    background:transparent;
    outline: none;
    width : 230px;
    padding-left: 15px;
    height : 30px;
    font-size: 20px;
    color : white;
    font-family: 'Questrial', sans-serif;
}
.todo::placeholder{
    color:#e0e0e0;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    padding-left: 0%;
}
.delButton{
    background : transparent;
    border : none;
    color : #bdbdbd;
    width : 20px;
    height : 20px;
}
#todo-list{
    color : white;
    font-family: 'Questrial', sans-serif;
    list-style: circle;
}
#quote{
    position: fixed;
    right:10px;
    bottom: 20px;
    height : 40px;
}
#quote span:first-child{
    color : white;
    font-family: 'Questrial', sans-serif;
}
#quote span:last-child{
    color : white;
    font-family: 'Questrial', sans-serif;
    position: absolute;
    right : 0;
    bottom:0;
}
#weather span{
    color : white;
    font-family: 'Questrial', sans-serif;
    font-family: 'Questrial', sans-serif;
}